! ~/.Xresources

! urvxt setup
/* URxvt.font: xft:scientifica:pixelsize=11:antialias=false */
/* URxvt.boldFont: xft:scientifica:pixelsize=11,style=bold */
/* URxvt.letterSpace: 1 */

URxvt.font: xft:curie:pixelsize=11:antialias=false
URxvt.boldFont: xft:curie:pixelsize=11,style=bold
URxvt.italicFont: xft:curie:pixelsize=11,style=italic
URxvt.letterSpace: 1

/* URxvt.font: xft:Fira Code:size=11,style=medium */
/* URxvt.boldFont: xft:Fira Code:size=11,style=bold */
/* URxvt.italicFont: xft:Fira Code:size=11,style=bold */
/* URxvt.boldItalicFont: xft:Fira Code:size=11,style=bold */
/* URxvt.letterSpace: -2 */

/* URxvt.font: xft:Source Code Pro:size=11,style=medium */
/* URxvt.boldFont: xft:Source Code Pro:size=11,style=bold */
/* URxvt.italicFont: xft:Source Code Pro:size=11,style=bold */
/* URxvt.boldItalicFont: xft:Source Code Pro:size=11,style=bold */
/* URxvt.letterSpace: -1 */

URxvt*url-launcher:     /usr/bin/firefox
URxvt*scrollBar:        false
URxvt.iso14755:         False
URxvt*dynamicColors:    on
URxvt.internalBorder:   10
URxvt.underlineURLs:    true
URxvt.matcher.button:   1
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard

! urxvt scrolling setup - up and down 10 lines
URxvt.keysym.Shift-Up: command:\033]720;10\007
URxvt.keysym.Shift-Down: command:\033]721;10\007

! rofi setup
rofi.font: scientifica Regular 8
rofi.terminal: urxvt
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e "{ssh-client} {host}"
